.counter-box {
  padding: 20px 10px;
  text-align: center;
  font-size: 14px;
}

.counter-box .box-item h1 {
  margin-bottom: 20px;
}

.counter-box .box-item + .box-item {
  margin-top: 20px;
}

.counter-box button {
  padding: 4px 20px;
  background: #0088ff;
  color: white;
  font-size: 14px;
  border: #07f solid 1px;
  border-radius: 8px;
  cursor: pointer;
}

.counter-box button:hover {
  background-color: #07f;
  border-color: #08f;
  box-shadow: 0px 4px 5px #444;
  border-radius: 4px;
  transition: all 0.2s linear;
}

.counter-box button + button {
  margin-left: 8px;
}

.counter-box span {
  display: block;
  margin-top: 8px;
}

.counter-box input {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #07f;
  border-radius: 4px;
}

.counter-box input:focus {
  outline: #07f auto 1px;
}

.counter-box .mt-3 {
  margin-top: 12px;
}
