.counter-box {
  padding: 20px 10px;
  text-align: center;
  font-size: 14px;

  .box-item {
    h1 {
      margin-bottom: m(5);
    }
  }

  .box-item + .box-item {
    margin-top: m(5);
  }
  button {
    padding: 4px 20px;
    background: rgba($color: #08f, $alpha: 1);
    color: white;
    font-size: 14px;
    border: #07f solid 1px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #07f;
      border-color: #08f;
      box-shadow: 0px 4px 5px #444;
      border-radius: 4px;
      transition: all 0.2s linear;
    }
  }

  button + button {
    margin-left: m(2);
  }

  span {
    display: block;
    margin-top: m(2);
  }

  input {
    margin-top: m(2);
    padding: 8px;
    border: 1px solid #07f;
    border-radius: 4px;

    &:focus {
      outline: #07f auto 1px;
    }
  }
}
