.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home img {
  margin-top: 32px;
}

.home img + p {
  margin-top: 16px;
}

.home p {
  width: 60em;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 2em;
  color: #343;
  font-weight: 400;
  text-indent: 2em;
}

.home p + p {
  margin-top: m(2);
}

.home div {
  height: 6em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.home div a {
  color: #f87;
  text-decoration: none;
  padding: 4px 8px;
}

.home div a:hover {
  color: #f47;
}
